html {
  background-color: whitesmoke;
}

* {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto Slab', serif;
  a {
    font-family: 'Roboto Slab', serif;
  }
}

.header {
  display: flex;
  align-items: center;
  padding: 0 10px;
  background: black;
  color: whitesmoke;
  height: 30px;
  z-index: 100;
  box-shadow: gray 1px 1px 5px;
  h5 {
    margin: 0;
  }
}

