.post {
  padding-right: 5px;
  margin: 25px 0px;
  text-align: justify;

  .title, .date {
    margin: 0;
  }

  .date {
    opacity: .5;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .line {
    height: 3px;
    width: 30px;
    background: black;
    transition: width .5s ease;
  }

  pre {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: rgba(0,0,0,.3) 1px 1px 5px;
  }
}

.post:hover, .post:focus {
  .line {
    width: 100%;
  }
}